:root {
  --primary-color: #c9b5e7;
  --border-radius: 5px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2365446f' fill-opacity='0.27'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  color: white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
}
